<a href="https://colab.research.google.com/github/stevenkhwun/Colab/blob/main/CodeSnippet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Print prime numbers less than 20

In [71]:
# Method 1
for num in range(2,20):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
       print (num)

2
3
5
7
11
13
17
19

**Note the use of `range`**

There is no number in the range from x to x, i.e. `range(x,x)`, the code
```python
for i in range(2,2)
```
will returns nothing.

In [72]:
# Method 2
for num in range(2,20):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

2
3
5
7
11
13
17
19

**`all()` function**

The `all()` function returns `True` if all items in an iterable are true, otherwise it returns False. If the iterable object is empty, the `all()` function also returns `True`.

In [73]:
# all() function example
mylist = [True, True, True]
x = all(mylist)
print(x)

True

# The largest of three numbers

In [76]:
# A python program to find the larges of three numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 > num2) and (num1 > num3):
  largest = num1
elif (num2 > num1) and (num2 > num3):
  largest = num2
else:
  largest = num3

print("The largest number is", largest,".")

Enter first number: 689
Enter second number: 1979
Enter third number: 1
The largest number is 1979 .

In [62]:
for i in range(2, 2):
  if (2%i==0):
    prime = False

prime

True

In [69]:
for j in range(2, 5):
  print(5-j)

3
2
1

In [53]:
9%i ==0

False