<a href="https://colab.research.google.com/github/stevenkhwun/Colab/blob/main/CodeSnippet.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Some arithmetic operations

In [ ]:
# Float division (normal division)
7/3

2.3333333333333335

In [ ]:
# Interger division
print(11 // 3)
print(11 // 3.0)
print(11.0 // 3)

3
3.0
3.0

In [ ]:
# Remainder
11%3

2

In [ ]:
# Exponent
4**3

64

# List

In [ ]:
list1 = [2, 33, 222, 14, 25]
print(list1[0])
print(list1[1])
print(list1[4])
print(list1[-1])
print(list1[-2])
print(list1[-5])

2
33
25
25
14
2

In [ ]:
# Sort a numerical list
list = ["2", "5", "7", "8", "1"]
list = [int(i) for i in list]
list.sort()
list

[1, 2, 5, 7, 8]

In [ ]:
list3 = [1, 689, 777, -5, 3]
list3.sort()
list3

[-5, 1, 3, 689, 777]

In [ ]:
# Reverse a list
list3.reverse()
list3

[777, 689, 3, 1, -5]

# Print prime numbers less than 20

In [ ]:
# Method 1
for num in range(2,20):
    prime = True
    for i in range(2,num):
        if (num%i==0):
            prime = False
    if prime:
       print (num)

2
3
5
7
11
13
17
19

**Note the use of `range`**

There is no number in the range from x to x, i.e. `range(x,x)`, the code
```python
for i in range(2,2)
```
will returns nothing.

In [ ]:
# Method 2
for num in range(2,20):
    if all(num%i!=0 for i in range(2,num)):
       print (num)

2
3
5
7
11
13
17
19

**`all()` function**

The `all()` function returns `True` if all items in an iterable are true, otherwise it returns False. If the iterable object is empty, the `all()` function also returns `True`.

In [ ]:
# all() function example
mylist = [True, True, True]
x = all(mylist)
print(x)

True

# The largest of three numbers

In [ ]:
# A python program to find the larges of three numbers
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))

if (num1 > num2) and (num1 > num3):
  largest = num1
elif (num2 > num1) and (num2 > num3):
  largest = num2
else:
  largest = num3

print("The largest number is", largest,".")

Enter first number: 689
Enter second number: 1979
Enter third number: 1
The largest number is 1979 .

# Illustrates the CLT

In [1]:
# p. 170 on the book "A Primer in Econometric Theory"

import numpy as np
import scipy.stats as st

num_reps = 5000
outcomes = np.empty(num_reps)
N, k = 1000, 5      # k = degrees of freedom
chi = st.chi2(k)

for i in range(num_reps):
  xvec = chi.rvs(N)
  outcomes[i] = np.sqrt(N/ (2 * k)) * (xvec.mean() - k)